default_language_version:
  python: python3.10

default_stages:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # Python Checks
      - id: check-ast
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer
      - id: check-builtin-literals
      # Config Hooks
      - id: check-xml
      - id: check-yaml
      # General Hooks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # Git related hooks
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - "--branch=main"
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.21
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy --strict --config-file pyproject.toml
        language: system
        files: \.py$
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.1
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
        stages: [pre-commit]
      # Run the formatter.
      - id: ruff-format
        stages: [pre-commit]
  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: uv run pytest
  #       language: system
  #       pass_filenames: false
  #       always_run: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  # python static code analysis
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: [".[toml]"]
  - repo: local
    hooks:
      - id: validate-release-notes
        name: Validate release notes
        entry: .hooks/validate_release_notes.sh
        language: script
        files: ^libs/.*/RELEASE\.md$
