apiVersion: v1
kind: Service
metadata:
  name: {{ include "games-rule-api.fullname" . }}
  labels:
    {{- include "games-rule-api.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.loadBalancer.enabled }}
    metallb.io/address-pool: loadbalancer
    {{- if .Values.loadBalancer.apiIp }}
    metallb.io/loadBalancerIPs: {{ .Values.loadBalancer.apiIp | default | quote }}
    {{- end }}
    {{- end }}
  {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "games-rule-api.selectorLabels" . | nindent 4 }}
