name: Build Python package and upload artifact

permissions:
  contents: write

on:
  push:
    branches: [main]

jobs:
  build-python-packages:
    uses: ./.github/workflows/build-wheel.yaml
    with:
      package-path: api

  build-docker-images:
    uses: ./.github/workflows/build-docker.yml
    with:
      container-path: api
