name: Build Python package and upload artifact

on:
  push:
    branches: [main]

jobs:
  build-core-python-packages:
    permissions:
      contents: write
    strategy:
      matrix:
        package: [core]
    uses: ./.github/workflows/build-wheel.yaml
    with:
      package-path: ${{ matrix.package }}

  build-dependent-python-packages:
    needs: build-core-python-packages
    permissions:
      contents: write
    strategy:
      matrix:
        package: [api]
    uses: ./.github/workflows/build-wheel.yaml
    with:
      package-path: ${{ matrix.package }}

  build-docker-images:
    needs: build-dependent-python-packages
    permissions:
      contents: write
      packages: write
    uses: ./.github/workflows/build-docker-image.yaml
    with:
      container-path: api
