name: Build Python package and upload artifact

on:
  push:
    branches: [main]

jobs:
  build-python-packages:
    permissions:
      contents: write
    uses: ./.github/workflows/build-wheel.yaml
    with:
      package-path: api

  build-docker-images:
    needs: build-python-packages
    permissions:
      contents: write
      packages: write
    uses: ./.github/workflows/build-docker-image.yaml
    with:
      container-path: api
